body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  padding: 2rem;
  color: #333;
}
h1 {
  color: #0059b3;
}
article {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}
